/ASSIGNMENT
/Bootstrap.lnk
/CSS TUTORIAL
/desktop.ini
/free_screen_recorder_x32.exe
/HTML PRACTICE
/HTML VIDEO
/JAVASCRIPT TUTORIAL
/Microsoft Edge.lnk
/REAL ESTATE
/REAL ESTATE PICTURES
/setup.exe
/vagrant_2.3.7_windows_amd64.msi
/VirtualBox-7.0.14-161095-Win.exe
/Visual Studio Code.lnk
/VSDC Free Screen Recorder x32.lnk
/WPS Office.lnk
/WPS PDF.lnk
/联想应用商店.lnk
/联想浏览器.lnk
/联想电脑管家.lnk